

* {
  padding: 0;
  margin: 0;
  
  /* font-family: 'Itim', cursive; */
}

.background {
  background-color: #000000;
  height: 100vh;
  padding-top: 1px;
}

.title {
  color: #00c5b5;
  text-align: center;
  font-size: 40px;
  margin-top: 5%;
  font-family: 'Press Start 2P', cursive;
}

.display {
  color: #00c5b5;
  font-size: 25px;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: 'Press Start 2P', cursive;

}

.hide {
  display: none;
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  max-width: 300px;

}

.tile {
  border-right: 7px solid rgba(110, 110, 110, 0.559);
  border-bottom: 7px solid rgb(110, 110, 110, 0.559);
  min-width: 100px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
}

.tile:nth-child(3n){
  border-right: none;
}

.tile:nth-child(6) ~ .tile {
  border-bottom: none;
}
.playerX {
  font-family: 'Roboto', sans-serif;
  color: #ff0000;
}

.playerO {
  font-family: 'Roboto', sans-serif;
  color: #0400ff;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.controls button {
  color: rgb(0, 0, 0);
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  margin-left: 1em;
  cursor: pointer;
}

.restart {
  background-color: #00c5b5;
}

#reset {
  background-color: #00c5b5;
}